.App {
  padding: 24px;
}

.menu {
  width: 200px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
  padding: 16px;
  list-style: none;
}

.menu-button {
    cursor: pointer;
    padding: 16px;
    font-size: 1rem;
    border: 0;
}